<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.quilljs.com/1.0.0/quill.snow.css" rel="stylesheet">
    <style>
        .plus{
            background: #585962;
            padding: 5px;
            border-radius: 20px;
            width: 20px;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 10px;
            cursor: pointer;
        }
        .plus img{
            width: 80%;
        }
    </style>
</head>

<body>
    <%- include ('./admin.ejs') %>
    <div class="adminContainer">
        <div class="main">
            <div class="pageHeader">
                <%= name %>
            </div>
        </div>
    <form action="/admin/partniyorlar" method="POST" id="identifier">
        <div class="adminTable">
                <div class="formInputs addHabar form1">
                    <div class="box">
                        <div class="boxHeader">Aşgabat</div>
                       <div class="headerCon">
                           <label for="" class="mazmuny">Türkmençe Address:</label>
                           <input type="text" value="<%= data.ashgabat.tmAddress %>" required>
                           <label for="" class="mazmuny">Rusça Address:</label>
                           <input type="text" value="<%= data.ashgabat.ruAddress %>" required>
                           <label for="" class="mazmuny">Iňlisçe Address:</label>
                           <input type="text" value="<%= data.ashgabat.enAddress %>" required>
                           <% for( let i = 0; i < data.ashgabat.phone.length; i++ ) { %>
                            <label for="" class="mazmuny">Telefon:</label>
                            <input type="text" id="ag" name="phone" value="<%= data.ashgabat.phone[i] %>">
                            <% } %>
                            <div class="plus"  onclick="plus(0)"><img src="/pictures/icon/plus.svg" alt=""></div>
                           <label for="" class="mazmuny">Faks:</label>
                           <input type="text" class="faks" value="<%= data.ashgabat.faks %>" required>
                           <label for="" class="mazmuny">Email:</label>
                           <input type="text" class="email" value="<%= data.ashgabat.email %>" required>
                       </div>
                    </div>
                    <div class="box">
                        <div class="boxHeader">Ahal</div>
                       <div class="headerCon">
                           <label for="" class="mazmuny">Türkmençe Address:</label>
                           <input type="text" value="<%= data.ahal.tmAddress %>" required>
                           <label for="" class="mazmuny">Rusça Address:</label>
                           <input type="text" value="<%= data.ahal.ruAddress %>" required>
                           <label for="" class="mazmuny">Iňlisçe Address:</label>
                           <input type="text" value="<%= data.ahal.enAddress %>" required>
                           <% for( let i = 0; i < data.ahal.phone.length; i++ ) { %>
                            <label for="" class="mazmuny">Telefon:</label>
                            <input type="text" id="ah" name="phone" value="<%= data.ahal.phone[i] %>">
                            <% } %>
                           <div class="plus"  onclick="plus(1)"><img src="/pictures/icon/plus.svg" alt=""></div>
                           <label for="" class="mazmuny">Faks:</label>
                           <input type="text" class="faks" value="<%= data.ahal.faks %>" required>
                           <label for="" class="mazmuny">Email:</label>
                           <input type="text" class="email" value="<%= data.ahal.email %>" required>
                       </div>
                    </div>
                    <div class="box">
                        <div class="boxHeader">Balkan</div>
                       <div class="headerCon">
                           <label for="" class="mazmuny">Türkmençe Address:</label>
                           <input type="text" value="<%= data.balkan.tmAddress %>" required>
                           <label for="" class="mazmuny">Rusça Address:</label>
                           <input type="text" value="<%= data.balkan.ruAddress %>" required>
                           <label for="" class="mazmuny">Iňlisçe Address:</label>
                           <input type="text" value="<%= data.balkan.enAddress %>" required>
                           <% for( let i = 0; i < data.balkan.phone.length; i++ ) { %>
                            <label for="" class="mazmuny">Telefon:</label>
                            <input type="text" id="bk" name="phone" value="<%= data.balkan.phone[i] %>">
                            <% } %>
                            <div class="plus"  onclick="plus(2)"><img src="/pictures/icon/plus.svg" alt=""></div>
                           <label for="" class="mazmuny">Faks:</label>
                           <input type="text" class="faks" value="<%= data.balkan.faks %>" required>
                           <label for="" class="mazmuny">Email:</label>
                           <input type="text" class="email" value="<%= data.balkan.email %>" required>
                       </div>
                    </div>
                    <div class="box">
                        <div class="boxHeader">Mary</div>
                       <div class="headerCon">
                           <label for="" class="mazmuny">Türkmençe Address:</label>
                           <input type="text" value="<%= data.mary.tmAddress %>" required>
                           <label for="" class="mazmuny">Rusça Address:</label>
                           <input type="text" value="<%= data.mary.ruAddress %>" required>
                           <label for="" class="mazmuny">Iňlisçe Address:</label>
                           <input type="text" value="<%= data.mary.enAddress %>" required>
                           <% for( let i = 0; i < data.mary.phone.length; i++ ) { %>
                            <label for="" class="mazmuny">Telefon:</label>
                            <input type="text" id="mr" name="phone" value="<%= data.mary.phone[i] %>">
                            <% } %>
                           <div class="plus"  onclick="plus(3)"><img src="/pictures/icon/plus.svg" alt=""></div>
                           <label for="" class="mazmuny">Faks:</label>
                           <input type="text" class="faks" value="<%= data.mary.faks %>" required>
                           <label for="" class="mazmuny">Email:</label>
                           <input type="text" class="email" value="<%= data.mary.email %>" required>
                       </div>
                    </div>
                    <div class="box">
                        <div class="boxHeader">Dashoguz</div>
                       <div class="headerCon">
                           <label for="" class="mazmuny">Türkmençe Address:</label>
                           <input type="text" value="<%= data.dashoguz.tmAddress %>" required>
                           <label for="" class="mazmuny">Rusça Address:</label>
                           <input type="text" value="<%= data.dashoguz.ruAddress %>" required>
                           <label for="" class="mazmuny">Iňlisçe Address:</label>
                           <input type="text" value="<%= data.dashoguz.enAddress %>" required>
                           <% for( let i = 0; i < data.dashoguz.phone.length; i++ ) { %>
                            <label for="" class="mazmuny">Telefon:</label>
                            <input type="text" id="dz" name="phone" value="<%= data.dashoguz.phone[i] %>">
                            <% } %>
                           <div class="plus"  onclick="plus(4)"><img src="/pictures/icon/plus.svg" alt=""></div>
                           <label for="" class="mazmuny">Faks:</label>
                           <input type="text" class="faks" value="<%= data.dashoguz.faks %>" required>
                           <label for="" class="mazmuny">Email:</label>
                           <input type="text" class="email" value="<%= data.dashoguz.email %>" required>
                       </div>
                    </div>
                    <div class="box">
                        <div class="boxHeader">Lebap</div>
                       <div class="headerCon">
                           <label for="" class="mazmuny">Türkmençe Address:</label>
                           <input type="text" value="<%= data.lebap.tmAddress %>" required>
                           <label for="" class="mazmuny">Rusça Address:</label>
                           <input type="text" value="<%= data.lebap.ruAddress %>" required>
                           <label for="" class="mazmuny">Iňlisçe Address:</label>
                           <input type="text" value="<%= data.lebap.enAddress %>" required>
                           <% for( let i = 0; i < data.lebap.phone.length; i++ ) { %>
                            <label for="" class="mazmuny">Telefon:</label>
                            <input type="text" id="lb" name="phone" value="<%= data.lebap.phone[i] %>">
                            <% } %>
                           <div class="plus"  onclick="plus(5)"><img src="/pictures/icon/plus.svg" alt=""></div>
                           <label for="" class="mazmuny">Faks:</label>
                           <input type="text" class="faks" value="<%= data.lebap.faks %>" required>
                           <label for="" class="mazmuny">Email:</label>
                           <input type="text" class="email" value="<%= data.lebap.email %>" required>
                       </div>
                    </div>
                </div>
                <div class="formInputs addHabar form2">

                </div>


            <div class="submitCon">
                <input class="save" type="submit" value="Ýatda sakla">
            </div>
        </div>
    </form>
    </div>



<script>
    function plus(index){
        var plus = document.querySelectorAll(".plus")[index]
        var header = document.querySelectorAll(".headerCon")[index];
        var element = document.createElement("label");
        element.setAttribute("class","mazmun");
        element.textContent = "Telefon:";
        var input = document.createElement("input");
        input.setAttribute("type","text");
        input.setAttribute("name","phone");
        switch(index){
            case(0):input.setAttribute('id','ag');
            break;
            case(1):input.setAttribute("id",'ah');
            break;
            case(2):input.setAttribute("id",'bk');
            break;
            case(3):input.setAttribute("id",'mr');
            break;
            case(4):input.setAttribute("id",'dz');
            break;
            case(5):input.setAttribute("id",'lb');
            break;
        }
        header.insertBefore(element,plus);
        header.insertBefore(input,plus);
    }

    function first(){
        
    }
    first();
</script>   

<!-- formdan maglumat jemlemek -->
<script>
    var submit = document.querySelector('#identifier');
    submit.addEventListener('submit',async function(e){
        e.preventDefault();
        var inputs = document.querySelectorAll("#identifier input");
        var faks = document.querySelectorAll(".faks")
        var email = document.querySelectorAll(".email")
        var data = {
            ashgabat:{
                tmAddress:inputs[0].value,
                ruAddress:inputs[1].value,
                enAddress:inputs[2].value,
                faks:faks[0].value,
                email:email[0].value,
                phone:[]
            },
            ahal:{
                tmAddress:inputs[6].value,
                ruAddress:inputs[7].value,
                enAddress:inputs[8].value,
                faks:faks[1].value,
                email:email[1].value,
                phone:[]
            },
            balkan:{
                tmAddress:inputs[12].value,
                ruAddress:inputs[13].value,
                enAddress:inputs[14].value,
                faks:faks[2].value,
                email:email[2].value,
                phone:[]
            },
            mary:{
                tmAddress:inputs[18].value,
                ruAddress:inputs[19].value,
                enAddress:inputs[20].value,
                faks:faks[3].value,
                email:email[3].value,
                phone:[]
            },
            dashoguz:{
                tmAddress:inputs[24].value,
                ruAddress:inputs[25].value,
                enAddress:inputs[26].value,
                faks:faks[4].value,
                email:email[4].value,
                phone:[]
            },
            lebap:{
                tmAddress:inputs[30].value,
                ruAddress:inputs[31].value,
                enAddress:inputs[32].value,
                faks:faks[5].value,
                email:email[5].value,
                phone:[]
            }
        }
        var ag = document.querySelectorAll("#identifier #ag");
        var ah = document.querySelectorAll("#identifier #ah");
        var bk = document.querySelectorAll("#identifier #bk");
        var mr = document.querySelectorAll("#identifier #mr");
        var dz = document.querySelectorAll("#identifier #dz");
        var lb = document.querySelectorAll("#identifier #lb");
        
        for(var i = 0; i<ag.length;i++){
            if(ag[i].value !== ''){
                data.ashgabat.phone.push(ag[i].value);
            }
        }
        for(var i = 0; i<ah.length;i++){
            if(ah[i].value !== ''){
                data.ahal.phone.push(ah[i].value);
            }
        }
        for(var i = 0; i<bk.length;i++){
            if(bk[i].value !== ''){
                data.balkan.phone.push(bk[i].value);
            }
        }
        for(var i = 0; i<mr.length;i++){
            if(mr[i].value !== ''){
                data.mary.phone.push(mr[i].value);
            }
        }
        for(var i = 0; i<dz.length;i++){
            if(dz[i].value !== ''){
                data.dashoguz.phone.push(dz[i].value);
            }
        }
        for(var i = 0; i<lb.length;i++){
            if(lb[i].value !== ''){
                data.lebap.phone.push(lb[i].value);
            }
        }
        var res = await dataSend(data,'<%=host%>/province/editProvince');
        if(res.status == 200){
            location.reload();
        }
    })
</script>


 <script>
    dropActive(2,8)
</script>

 

</body>
</html>


