<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="newsSection">
        <div class="container newsSectionContainer">
          <div class="navbar">
            <div class="left1">
              <div class="h1" ><a href="/pressCenter" data-content id="newsCenter">Press Center</a></div>
              <div class="img"><img src="/pictures/icon/rightArrow.png" alt=""></div>
            </div>
    
            <div class="right1">
              <div class="active" data-content id="news">News</div>
              <div data-content id="events">Events announcements</div>
              <div data-content id="gazet">About us</div>
            </div>
          </div>
    
            <div class="left"><img src='/pictures/news/<%=list.list[0].pic%>' alt=""></div>
            <!-- <div class="left"><img src="<%=host%>/news/<%= list.list[0].pic %>" alt=""></div> -->
            <div class="right">
              <div class="top">
                <div class="name" data-dynamic data-ru="<%-list.list[0].name.RU%>" data-tm="<%-list.list[0].name.TM%>" data-en="<%-list.list[0].name.EN%>" id="name"><%=list.list[0].name.RU%></div>
                <div class="title" data-dynamic data-ru="<%-list.list[0].title.RU%>" data-tm="<%-list.list[0].title.TM%>" data-en="<%-list.list[0].title.EN%>" id="title"><%=list.list[0].title.RU%></div>
              </div>
              <div class="bottom">
                <div class="new" data-content id="news">News</div>
                <div class="dot"></div>
                <div class="date" data-dynamic data-ru="<%-list.list[0].date.RU%>" data-tm="<%-list.list[0].date.TM%>" data-en="<%-list.list[0].date.EN%>" id="date"><%=list.list[0].date.RU%></div>
              </div>
            </div>
            
            <% for (let i = 1; i < 4; i++) {%>
              <div class="newsContainer lowNews<%=i%>">
                <div class="top"><img src="/pictures/news/<%= list.list[i].pic %>" alt=""></div>
                <!-- <div class="top"><img src="<%=host%>/news/<%= list.list[i].pic %>" alt=""></div> -->
                <div class="bottomTop">
                  <div class="name" data-dynamic data-ru="<%-list.list[i].name.RU%>" data-tm="<%-list.list[i].name.TM%>" data-en="<%-list.list[i].name.EN%>" id="name"><%=list.list[i].name.RU%></div>
                </div>
                <div class="bottom">
                  <div class="new" data-content id="news">News</div>
                  <div class="dot"></div>
                  <div class="date" data-dynamic data-ru="<%-list.list[i].date.RU%>" data-tm="<%-list.list[i].date.TM%>" data-en="<%-list.list[i].date.EN%>" id="date"><%=list.list[i].date%></div>
                </div>
              </div>
            <%} %> 
            
            
              <div class="splide">
                <div class="splide__track">
                  <ul class="splide__list">
                    <%for(var i = 0; i < list.ads.length; i++){%>
                      <li class="splide__slide"><div><img src="/pictures/reklams/<%=list.ads[i]%>" alt=""></div></li>
                    <%}%>
                  </ul>
                </div>
              </div>
          </div>
        </section>
        <script src="/scripts/src/materialize/splide.js"></script>
        <script>
              document.addEventListener('DOMContentLoaded', function() {

                new Splide('.splide',{
                    type:"loop",
                    perPage:1,
                    autoplay:true,
                    cover:true
                  }).mount();

    });
        </script>  
</body>
</html>