<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.quilljs.com/1.0.0/quill.snow.css" rel="stylesheet">
</head>

<body>
    <%- include ('../admin.ejs') %>
    <div class="adminContainer">
        <div class="main">
            <div class="pageHeader">
                <%= name %> 
            </div>
        </div>
    <form action="/admin/plans" method="POST" id="identifier">
        <div class="adminTable">
                <div class="formInputs addHabar form1">
                    <div class="box">
                        <div class="boxHeader">Türkmençe giriziň</div>
                        <div class="headerCon">
                            <label class="mazmuny" for="">Mazmunyň headeri:</label>
                            <input type="text" name="headerTM" class="header" value="<%= data.headerTM %>">
                        </div>
                        <div class="mazmun">Mazmuny:</div>
                        <div class="editorCon">
                            <div id="editor">
                                <p></p>
                            </div>
                        </div>
                    
                    </div>
                    <div class="box imgBox">
                        <div class="headerCon">
                            <div class="suratHeader">
                                <label for="">Faýl [PDF] giriziň:</label>
                                <label for="sowdaSurat">Faýl goşmak <img src="/pictures/icon/plus.svg" alt=""></label>
                                <input type="file" onchange="takeImg(event)" id="sowdaSurat" style="display: none;">
                            </div>
                        </div>
                        <label for="" class="imgsCon">
                            <!-- js bilen bir tag gelyar surat yok bolondo default surat gelyan -->
                            <div class="imgCon pdfCon">
                                <!-- js bilen doldurylyar surat goyulyar -->
                            </div>
                        </label>
                    </div>
                    
                    <textarea name="text" style="display: none;" id="hiddenArea" cols="30"  rows="10"></textarea>
                    <textarea name="text2" id="hiddenArea2" style="display: none;" cols="30"  rows="10"></textarea>
                    <textarea name="text3" id="hiddenArea3" cols="30" style="display: none;" rows="10"></textarea>

                    <div class="box">
                        <div class="boxHeader">Rusça giriziň</div>
                        <div class="headerCon">
                            <label class="mazmuny" for="topTa">Mazmunyň headeri:</label>
                            <input type="text" name="headerRU" id="topTa" class="header">
                        </div>
                        <div class="mazmun">Mazmuny:</div>
                        <div class="editorCon">
                            <div id="editor2">
                                <p></p>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div class="boxHeader">Iňlisçe giriziň</div>
                        <div class="headerCon">
                            <label class="mazmuny" for="topTa">Mazmunyň headeri:</label>
                            <input type="text" name="headerEN" id="topTa" class="header">
                        </div>
                        <div class="mazmun">Mazmuny:</div>
                        <div class="editorCon">
                            <div id="editor3">
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="formInputs addHabar form2">

                </div>


            <div class="submitCon">
                <input class="save" type="submit" value="Ýatda sakla">
            </div>
        </div>
    </form>
    </div>

    <div class="val" style="display: none;"><%= data.text %></div>
    <div class="val2" style="display: none;"><%=data.text2%></div>
    <div class="val3" style="display: none;"><%=data.text3%></div>

    <!-- picture show when i choose from file -->
    <script>
        var imgCount = 0;
        var delCount = 0;
        var imgs = [];
        function takeImg(event){
            if(event.target.files[0] != undefined){
                var imgCon = document.querySelector(".imgCon");
                imgCon.innerHTML += `
                                    <div class="div pdf ${delCount}">
                                        <img class="img" src="/pictures/icon/pdfRed.png" alt="hjhjhj">
                                        <div class="imgDelete" onclick="delImg(${delCount})"><img src="/pictures/icon/delete.svg"  alt=""></div>
                                        <div class="name"></div>
                                    </div>`;
                
                var img = document.querySelectorAll(".imgCon .div .name");

                img[imgCount].textContent = event.target.files[0].name;
                var obj = {
                    id:delCount,
                    event:event.target.files[0]
                }
                imgCount+=1;
                delCount+=1;
                imgs.push(obj);
                imgLen();
            }
        }

        function delImg(san){
            var imgCon = document.querySelectorAll(".imgCon .div");
            for(var i = 0; i<imgs.length; i++){
                if(imgs[i].id == san){
                    imgs.splice(i,1);
                }
            }

            for(var i = 0; i<imgCon.length ; i++){
                var a = imgCon[i].classList.contains(san);
                if(a){
                    imgCon[i].remove();
                    break;
                }
            }
            
            imgCount-=1;
            imgLen();
        }

        var bool = false;
        function imgLen(){
            if(imgs.length==0){
                var imgsCon = document.querySelector(".imgsCon");
                var imgCon = document.querySelector(".imgCon");
                imgCon.style.height = "0";
                var old = imgsCon.innerHTML;
                imgsCon.innerHTML = `<div class="noneImg">
                                        <img style="filter: invert(1); opacity:0.7; width:30px" src="/pictures/icon/pdf.png" alt="">
                                    </div>`+old;
                bool = true;
            }else if(imgs.length == 1 && bool){
                var imgNone = document.querySelector(".noneImg");
                imgNone.remove();
                var imgCon = document.querySelector(".imgCon");
                imgCon.style.height = "200px";
                bool = false;
            }
        }
        imgLen();

        var submit = document.querySelector(".save");
        submit.addEventListener("click",async function(e){
            // e.preventDefault();
            var data = new FormData();
            for(var i = 0; i<imgs.length; i++){
                data.append(`img${i}`,imgs[i].event)
            }
            const option = {
                method : "POST",
                body : data
            }
            await fetch('/picture/admin/ishmeyilnamasy',option)
            
        })
    </script>
 
    <script src="https://cdn.quilljs.com/1.0.0/quill.js"></script>
 
    <!-- Initialize Quill editor  3sany text area hidden inpuda hem salyar-->
    <script>
        
      var editor = new Quill('#editor', {
        modules: { },
        theme: 'snow'
      });
      var editor = new Quill('#editor2', {
        modules: { },
        theme: 'snow'
      });
      var editor = new Quill('#editor3', {
        modules: { },
        theme: 'snow'
      });

    //   3 sany textarea girizilen maglumatlary hidden textarea girizyar
    
    var idForm = document.querySelector("#identifier");
    idForm.addEventListener("submit",function(){
        var hiddenText = document.querySelectorAll("#hiddenArea");
        var hiddenText2 = document.querySelectorAll("#hiddenArea2");
        var hiddenText3 = document.querySelectorAll("#hiddenArea3");
        var text = document.querySelectorAll("#editor .ql-editor");
        var text2 = document.querySelectorAll("#editor2 .ql-editor");
        var text3 = document.querySelectorAll("#editor3 .ql-editor");
        for(var i = 0; i<hiddenText.length; i++){
            hiddenText[i].value = text[i].innerHTML;
            hiddenText2[i].value = text2[i].innerHTML;
            hiddenText3[i].value = text3[i].innerHTML;
        }
    })
    </script> 


<!-- backenden gelyan text leri textarea yerleshdiryar -->
    <script>
        var text = document.querySelector("#editor .ql-editor");
        var text2 = document.querySelector("#editor2 .ql-editor");
        var text3 = document.querySelector("#editor3 .ql-editor");

        var editText = document.querySelector(".val")
        var editText2 = document.querySelector(".val2")
        var editText3 = document.querySelector(".val3")

        text.innerHTML = editText.textContent;
        text2.innerHTML = editText2.textContent;
        text3.innerHTML = editText3.textContent;



    </script>

</body>
</html>


