<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/pictures/logo/logo.svg" type="image/icon type">
    <link href="https://cdn.quilljs.com/1.0.0/quill.snow.css" rel="stylesheet">
</head>

<body>
    <%- include ('../../admin.ejs') %>
    <div class="adminContainer">
        <div class="main">
            <div class="pageHeader">
                <%= name %> 
            </div>
        </div>
    <form  method="POST" id="identifier">
        <div class="adminTable">
                <div class="formInputs addHabar form1" style="display: none;">
                    <div class="box">
                        <div class="boxHeader">Türkmençe giriziň</div>
                        <div class="headerCon">
                            <label class="mazmuny" for="">Mazmunyň headeri:</label>
                            <input type="text" name="headerTM" class="header tm">
                        </div>
                        <div class="mazmun">Mazmuny:</div>
                        <div class="editorCon">
                            <div id="editor">
                                <p></p>
                            </div>
                        </div>
                    </div>
                    <div class="box imgBox">
                        <div class="boxHeader">Suraty giriziň</div>
                        <div class="mazmun">Suraty giriziň:</div>
                        <div class="inputs">
                            <p><input type="file"  accept="image/*" name="image" id="img0" onchange="loadFile2(event,0)" class="1" style="display: none;"></p>
                            <label class="imgLbCon" for="img0"><img id="output" src="/pictures/icon/addPicture.svg" /></label>
                        </div>
                   </div>
                    <div class="box">
                        <div class="boxHeader">Rusça giriziň</div>
                        <div class="headerCon">
                            <label class="mazmuny" for="topTa">Mazmunyň headeri:</label>
                            <input type="text" name="headerRU" id="topTa" class="header ru">
                        </div>
                        <div class="mazmun">Mazmuny:</div>
                        <div class="editorCon">
                            <div id="editor2">
                                <p></p>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div class="boxHeader">Iňlisçe giriziň</div>
                        <div class="headerCon">
                            <label class="mazmuny" for="topTas">Mazmunyň headeri:</label>
                            <input type="text" name="headerEN" id="topTas" class="header en">
                        </div>
                        <div class="mazmun">Mazmuny:</div>
                        <div class="editorCon">
                            <div id="editor3">
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="formInputs addHabar form2">

                    <% for( let i = 2; i <= data.header.TM.length+1; i++ ) { %>
                        <div class="box">
                            <div class="boxHeader">Türkmençe giriziň</div>
                            <div class="headerCon">
                                <label class="mazmuny" for="">Mazmunyň headeri:</label>
                                <input type="text" name="headerTM" class="header tm" value="<%= data.header.TM[i-2] %>">
                            </div>
                            <div class="mazmun">Mazmuny:</div>
                            <div class="editorCon">
                                <div id="editor">
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div class="box imgBox">
                            <div class="boxHeader">Suraty giriziň</div>
                            <div class="mazmun">Suraty giriziň:</div>
                            <div class="inputs">
                                <p><input type="file"  accept="image/*" name="image" id="img<%=i-1%>" onchange="loadFile2(event,'<%=i-1%>')" class="1" style="display: none;"></p>
                                <label class="imgLbCon" for="img<%=i-1%>"><img id="output" width="100%" height="335px" src="<%=host%>/constructor/<%= id %>/<%= data.pic[i-2] %>" /></label>
                            </div>
                       </div>
                        <div class="box">
                            <div class="boxHeader">Rusça giriziň</div>
                            <div class="headerCon">
                                <label class="mazmuny" for="topTa">Mazmunyň headeri:</label>
                                <input type="text" name="headerRU" id="topTa" class="header ru" value="<%= data.header.RU[i-2] %>">
                            </div>
                            <div class="mazmun">Mazmuny:</div>
                            <div class="editorCon">
                                <div id="editor2">
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div class="box">
                            <div class="boxHeader">Iňlisçe giriziň</div>
                            <div class="headerCon">
                                <label class="mazmuny" for="topTas">Mazmunyň headeri:</label>
                                <input type="text" name="headerEN" id="topTas" class="header en" value="<%= data.header.EN[i-2] %>">
                            </div>
                            <div class="mazmun">Mazmuny:</div>
                            <div class="editorCon">
                                <div id="editor3">
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <% } %>
                    </div>
                    <div style="display: none;" class="hide"></div>
                    <div style="display: none;" class="hide2"></div>
                    <div style="display: none;" class="hide3"></div>

                    <div class="formInputs addHabar">
                        <div class="box imgBox">
                            <div class="headerCon">
                                <div class="suratHeader">
                                    <label for="">Faýl [PDF] giriziň:</label>
                                    <label for="sowdaSurat">Faýl goşmak <img src="/pictures/icon/plus.svg" alt=""></label>
                                    <input type="file" onchange="takeImg(event)" id="sowdaSurat" style="display: none;">
                                </div>
                            </div>
                            <label for="" class="imgsCon">
                                <!-- js bilen bir tag gelyar surat yok bolondo default surat gelyan -->
                                <div class="imgCon pdfCon">
                                    <!-- js bilen doldurylyar surat goyulyar -->
                                </div>
                            </label>
                        </div>
                    </div>
                    <div class="addHabar bash">
                        <div class="box">
                            <div class="boxHeader">Türkmençe</div>
                            <div class="headerCon">
                                <label class="mazmuny" for="topTa">Ady:</label>
                                <input type="text" name="tm" id="topTa" class="header" value="<%= data.name.TM %>">
                            </div>                
                        </div>
                        <div class="box">
                            <div class="boxHeader">Rusça</div>
                            <div class="headerCon">
                                <label class="mazmuny" for="topTa">Ady:</label>
                                <input type="text" name="ru" id="topTa" class="header" value="<%= data.name.RU %>">
                            </div>                
                        </div>
                        <div class="box">
                            <div class="boxHeader">Iňlisçe</div>
                            <div class="headerCon">
                                <label class="mazmuny" for="topTa">Ady:</label>
                                <input type="text" name="en" id="topTa" class="header" value="<%= data.name.EN %>">
                            </div>                
                        </div>
                        <div class="box">
                            <div class="boxHeader">Banner saýla</div>
                            <div class="headerCon">
                                <label for="" class="mazmuny">Banner nomeri:</label>
                                <select class="welayatSelect" style="width: 100%;" name="banner" id="">
                                    <option value="1">1-nji banner</option>
                                    <option value="2">2-nji banner</option>
                                    <option value="3">3-nji banner</option>
                                </select>
                            </div>
                        </div>
                    </div>
                
                    <% if (data.files != null) { %>
                        <% for(var i =0 ; i<data.files.length; i++) {%>
                            <div class="fileTake" style="display: none;"><%= data.files[i].filename %></div>
                        <% } %>
                    <% }else{%>
                        <div class="fileTake" style="display: none;"></div>
                    <% } %>

            <div class="submitCon">
                <div class="more">Ýene maglumat goşmak</div>
                <input class="save" type="submit" value="Ýatda sakla">
            </div>


        </div>
    </form>
    </div>
    <% for( let i = 0; i < data.header.TM.length; i++ ) { %>
        <div style="display: none;" class="tmbody"><%= data.body.TM[i] %> </div>
        <div style="display: none;" class="rubody"><%= data.body.RU[i] %> </div>
        <div style="display: none;" class="enbody"><%= data.body.EN[i] %> </div>
    <% } %>

    <!-- picture show when i choose from file -->
    <script>
            var imgCount = 0;
            var delCount = 0;
            var pdfs = [];
            function takeImg(event){
                if(event.target.files[0] != undefined){
                    var imgCon = document.querySelector(".imgCon");
                    imgCon.innerHTML += `
                                        <div class="div pdf ${delCount}">
                                            <img class="img" src="/pictures/icon/pdfRed.png" alt="hjhjhj">
                                            <div class="imgDelete" onclick="delImg(${delCount})"><img src="/pictures/icon/delete.svg"  alt=""></div>
                                            <div class="name"></div>
                                        </div>`;
                    
                    var img = document.querySelectorAll(".imgCon .div .name");
    
                    img[imgCount].textContent = event.target.files[0].name;
                    var obj = {
                        id:delCount,
                        event:event.target.files[0]
                    }
                    imgCount+=1;
                    delCount+=1;
                    pdfs.push(obj);
                    imgLen();
                }
            }
            var firstLen = true;
            function firstWork(){
                var fileTake = document.querySelectorAll(".fileTake");
                var pic = [];
                for(var i = 0; i<fileTake.length;i++){
                    pic.push(fileTake[i].textContent);
                }
                
                
                if(pic.length == 1 && pic[0] == ''){
                }else{
                    var imgCon = document.querySelector(".imgCon");
                    for(var i = 0; i<pic.length; i++){
                        imgCon.innerHTML += `
                                            <div class="div pdf ${delCount}">
                                                <img class="img" src="/pictures/icon/pdfRed.png" alt="hjhjhj">
                                                <div class="imgDelete" onclick="delImg(${delCount})"><img src="/pictures/icon/delete.svg"  alt=""></div>
                                                <div class="name">${pic[delCount]}</div>
                                            </div>`;
                        var obj = {
                            id:delCount,
                            event:''
                        }
                        delCount+=1;
                        imgCount+=1;
                        pdfs.push(obj)
                    }
                    if(pic.length !== 0){
                        imgLen();
                    }
                }
            }
            firstWork();
    
            async function delImg(san){
                var imgCon = document.querySelectorAll(".imgCon .div");
                for(var i = 0; i<pdfs.length; i++){
                    if(pdfs[i].id == san){
                        if(pdfs[i].event == ''){
                            const option = {
                                method: 'delete'
                            }
                            var res = await fetch('<%=host%>/constructor/deleteFile?id=<%=data.id%>&index='+i,option);
                        }
                        pdfs.splice(i,1);
                        break;
                    }
                }
                
                for(var i = 0; i<pdfs.length; i++){
                    if(pdfs[i].id == san){
                        pdfs.splice(i,1);
                    }
                }
                
                for(var i = 0; i<imgCon.length ; i++){
                    var a = imgCon[i].classList.contains(san);
                    if(a){
                        imgCon[i].remove();
                        break;
                    }
                }
                
                imgCount-=1;
                imgLen();
            }
    
            var bool = false;
            function imgLen(){
                
                if(pdfs.length==0){
                    var imgsCon = document.querySelector(".imgsCon");
                    var imgCon = document.querySelector(".imgCon");
                    imgCon.style.height = "0";
                    var old = imgsCon.innerHTML;
                    imgsCon.innerHTML = `<div class="noneImg">
                                            <img style="filter: invert(1); opacity:0.7; width:30px" src="/pictures/icon/pdf.svg" alt="">
                                        </div>`+old;
                    bool = true;
                }else if(pdfs.length == 1 && bool){
                    var imgNone = document.querySelector(".noneImg");
                    imgNone.remove();
                    var imgCon = document.querySelector(".imgCon");
                    imgCon.style.height = "200px";
                    bool = false;
                }
            }
            imgLen();
    </script>



    <!-- selecte saylatmak -->
    <script>
        var kategori = document.querySelector(".welayatSelect")
       
     
        for(var i = 0; i<kategori.length; i++){
            var a = kategori[i].getAttribute('value');
            if(a == '<%=data.bannerId%>'){
                kategori[i].setAttribute('selected','selected');
                break
            }
        }
    </script>



<!-- surat take -->
    <script>
        var imgs = [];
        var pic = '<%=data.pic%>';
        pic = pic.split(',');
        for(var i = 0; i<pic.length; i++){
            var obj = {
                id:i,
                file:''
            }
            imgs.push(obj);
        }

        var loadFile2 = function(event,el) {
            var image = document.querySelectorAll('#output');
            image[el].src = URL.createObjectURL(event.target.files[0]);
            image[el].style.width = "100%";
            image[el].style.height = "100%";
            var obj = {
                id:el-1,
                file:event.target.files[0]
            }

            // suratlary arr salyar we eger on bar bolsa onda salanok(id gora);
            var bool = true;
            if(imgs.length == 0){
                imgs.push(obj);
            }else{
                for(var i = 0; i<imgs.length;i++){
                    if(imgs[i].id == el-1){
                        imgs.splice(i,1,obj);
                        bool = false;
                        break;                        
                    }
                }
                if(bool){
                    imgs.push(obj);
                }
            }
        };
    </script>


<!-- load more -->
    <script>
        var form2 = document.querySelector("form .form2");
        var form1 = document.querySelector("form .form1");

        var moreBtn = document.querySelector(".more");
        var pic = '<%=data.pic%>'
        pic = pic.split(',');
        var suratId = 1+pic.length;
        var suratPlace = 3+(pic.length*8);
        var tmheader = [];
        var ruheader = [];
        var enheader = [];
        var squllSan = 3;
        var cssSana = 0;
        moreBtn.addEventListener("click",function(){
            var tm = document.querySelectorAll(".tm");
            var ru = document.querySelectorAll('.ru');
            var en = document.querySelectorAll('.en');
            for(var i = 1; i<tm.length; i++){
                tmheader[i-1] = tm[i].value;
                ruheader[i-1] = ru[i].value;
                enheader[i-1] = en[i].value;
            }
            form2.innerHTML += form1.innerHTML;

            // more button basylanda surat ishlar yaly edyar;
            form2.childNodes[suratPlace].childNodes[5].childNodes[3].setAttribute('for','img'+suratId);
            form2.childNodes[suratPlace].childNodes[5].childNodes[3].childNodes[0].setAttribute("src","/pictures/icon/addPicture.svg")
            form2.childNodes[suratPlace].childNodes[5].childNodes[3].childNodes[0].setAttribute("style","")
            form2.childNodes[suratPlace].childNodes[5].childNodes[1].childNodes[0].setAttribute("id",'img'+suratId);
            form2.childNodes[suratPlace].childNodes[5].childNodes[1].childNodes[0].setAttribute("onchange",'loadFile2(event,'+suratId+')');
            suratPlace +=8;

            // header valuelaryny goyup beryar;
            var tm = document.querySelectorAll(".tm");
            var ru = document.querySelectorAll('.ru');
            var en = document.querySelectorAll('.en');
            for(var i = 1; i<tm.length-1; i++){
                tm[i].value = tmheader[i-1];
                ru[i].value = ruheader[i-1];
                en[i].value = enheader[i-1];
            }


            //quill ishletmek uchin
            var editor1 = document.querySelectorAll('.editorCon');
            editor1[squllSan].innerHTML = `<div id="editor${squllSan}" class="editorr">
                                            <p></p>
                                        </div>`
            editor1[squllSan+1].innerHTML = `<div id="editor${squllSan+1}" class="editorr">
                                            <p></p>
                                        </div>`
            editor1[squllSan+2].innerHTML = `<div id="editor${squllSan+2}" class='editorr'>
                                            <p></p>
                                        </div>`


            var edit = document.querySelectorAll(".editorr");
            for(var i =0; i<cssSana; i++){
                editor1[3+i].childNodes[0].remove();
                
            }
            cssSana+=3;

            var edit = document.querySelectorAll(".editorr");
            for(var i = 0; i<edit.length; i++){
                var editor = new Quill(edit[i], {
                    modules: { 
                        toolbar: [[{'header':[1,2,3,4,5,6,false]}],['bold','italic','underline'],['link','image'],[{'size':['small',false,'large','huge']}],[{'align':'justify'},{'align':'center'},{'align':'right'}]] 

                    },
                    theme: 'snow'
                });
            }
            squllSan+=3;
        })
    </script>


<!-- formdan maglumat jemlemek -->
    <script>
        var submit = document.querySelector("#identifier");
        var oneTime = true;
        submit.addEventListener("submit",async function(e){
            e.preventDefault()
            if(oneTime){
                var inputs = document.querySelectorAll("#identifier input");
                var bash = document.querySelectorAll(".bash input");
                var select = document.querySelector('.welayatSelect');
                var data = {
                    tm:bash[0].value,
                    ru:bash[1].value,
                    en:bash[2].value,
                    banner:select.value,
                    shablon:'<%=data.page%>',
                    tmheader:[],
                    ruheader:[],
                    enheader:[],
                    text:[],
                    text2:[],
                    text3:[],
                    category:'<%=data.constructorId%>',
                    bosh:[]
                }
    
                var tm = document.querySelectorAll('.tm');
                var ru = document.querySelectorAll('.ru');
                var en = document.querySelectorAll('.en');
                var text = document.querySelectorAll(".ql-editor");
    
    
                var headFull = true;
                var san = 3;
                for(var i = 1; i<tm.length; i++){
                    if(tm[i].value=='' && ru[i].value == '' &&  en[i].value == ''){
                        data.bosh.push(i-1);
                    }else{
                        data.tmheader.push(tm[i].value);
                        data.ruheader.push(ru[i].value);
                        data.enheader.push(en[i].value);
                        data.text.push(text[san].innerHTML);
                        data.text2.push(text[san+1].innerHTML);
                        data.text3.push(text[san+2].innerHTML);
                    }
                    san+=3;
                    if(tm[i].value=='' || ru[i].value == '' ||  en[i].value == ''){
                        if(tm[i].value=='' && ru[i].value == '' &&  en[i].value == ''){
    
                        }else{
                            headFull = false;
                        }
                    }
                }
                
                var arr = [];
                var suratUytgedi = false;
                var yekeSurat = false;
                // pdf ucin
                var pdfAdd = false;
                //////
                for(var i = 0; i<data.tmheader.length*2; i++){
                    if(imgs[i] == undefined){
                        yekeSurat = true;
                        break;
                    }
                    arr.push(imgs[i].file);
                    if(imgs[i].file !== ''){
                        suratUytgedi = true;
                    }
                }

                // pdf uchin gerek
                var pdfArr = [];
                for(var i = 0; i<pdfs.length; i++){
                    if(pdfs[i].event !== ''){
                        pdfAdd = true;
                    }
                    pdfArr.push(pdfs[i].event);
                }
                ////////////
                
                
                if(headFull){
                    var res = await dataSend(data,'<%=host%>/constructor/subCategory/edit?id=<%=id%>');
                    
                    if(typeof(res.id) == 'number'){
                        //file add uchin
                        var bool = false;
                        if(pdfAdd){
                            var data = await imgSend(pdfArr,'<%=host%>/constructor/addFile?id=<%=id%>');
                            if(data.status == 200){
                                bool = true;
                            }
                        }else{
                            bool = true;
                        }
                        ////////
                        if(bool){
                            if(suratUytgedi){
                                var data = await imgSend(arr,'<%=host%>/constructor/addVideo?id=<%=id%>');
                                if(data.status == 200){
                                    location.replace('/admin/subConstructor/'+res.id);
                                }
                            }else{
                                location.replace('/admin/subConstructor/'+res.id);
                            }
                        }
                    }
                }else{
                    alert('headerlerin biri bosh');
                    oneTime=true
                }
                
            }
        })
        linkActive(2);
    </script>
 
    <script src="https://cdn.quilljs.com/1.0.0/quill.js"></script>
 
    <!-- Initialize Quill editor  3sany text area hidden inpuda hem salyar-->
    <script>
      var editor = new Quill('#editor', {
        modules: { 
            toolbar: [[{'header':[1,2,3,4,5,6,false]}],['bold','italic','underline'],['link','image'],[{'size':['small',false,'large','huge']}],[{'align':'justify'},{'align':'center'},{'align':'right'}]] 

        },
        theme: 'snow'
      });
      var editor = new Quill('#editor2', {
        modules: { 
            toolbar: [[{'header':[1,2,3,4,5,6,false]}],['bold','italic','underline'],['link','image'],[{'size':['small',false,'large','huge']}],[{'align':'justify'},{'align':'center'},{'align':'right'}]] 

        },
        theme: 'snow'
      });
      var editor = new Quill('#editor3', {
        modules: {
            toolbar: [[{'header':[1,2,3,4,5,6,false]}],['bold','italic','underline'],['link','image'],[{'size':['small',false,'large','huge']}],[{'align':'justify'},{'align':'center'},{'align':'right'}]] 

         },
        theme: 'snow'
      });
    </script> 


      <!-- first -->
      <script>
        function first(){
            var editor1 = document.querySelectorAll('.editorCon');
            var len = document.querySelectorAll(".tmbody");
            for(var i = 0; i<len.length; i++){
                editor1[squllSan].innerHTML = `<div id="editor${squllSan}" class="editorr">
                                                <p></p>
                                            </div>`
                editor1[squllSan+1].innerHTML = `<div id="editor${squllSan+1}" class="editorr">
                                                <p></p>
                                            </div>`
                editor1[squllSan+2].innerHTML = `<div id="editor${squllSan+2}" class='editorr'>
                                                <p></p>
                                            </div>`
    
    
                var edit = document.querySelectorAll(".editorr");
                for(var j =0; j<cssSana; j++){
                    editor1[3+j].childNodes[0].remove();
                    
                }
                cssSana+=3;
    
                var edit = document.querySelectorAll(".editorr");
                for(var j = 0; j<edit.length; j++){
                    var editor = new Quill(edit[j], {
                        modules: { 
                        toolbar: [[{'header':[1,2,3,4,5,6,false]}],['bold','italic','underline'],['link','image'],[{'size':['small',false,'large','huge']}],[{'align':'justify'},{'align':'center'},{'align':'right'}]] 

                        },
                        theme: 'snow'
                    });
                }
                squllSan+=3;
            }


            var hide = document.querySelector(".hide");
            var hide2 = document.querySelector(".hide2");
            var hide3 = document.querySelector(".hide3");
            var text = document.querySelectorAll(".ql-editor");
            
            var tmbody = document.querySelectorAll(".tmbody");
            var rubody = document.querySelectorAll(".rubody");
            var enbody = document.querySelectorAll(".enbody");
            var sana = 3;
            
            for(var i = 0; i<tmbody.length; i++){
                text[sana].innerHTML = tmbody[i].textContent;
                text[sana+1].innerHTML = rubody[i].textContent;
                text[sana+2].innerHTML = enbody[i].textContent;
                sana+=3;
            }
        }
        first();

    </script>
</body>
</html>


