<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.quilljs.com/1.0.0/quill.snow.css" rel="stylesheet">
</head>

<body>
    <%- include ('../../admin.ejs') %>
    <div class="adminContainer">
        <div class="main">
            <div class="pageHeader">
                <%= name %> 
            </div>
        </div>
    <form  method="POST" id="identifier">
        <div class="adminTable">
                <div class="formInputs addHabar form1" style="display: none;">
                    <div class="box">
                        <div class="boxHeader">Türkmençe giriziň</div>
                        <div class="headerCon">
                            <label class="mazmuny" for="">Mazmunyň headeri:</label>
                            <input type="text" name="headerTM" class="header tm">
                        </div>
                        <div class="mazmun">Mazmuny:</div>
                        <div class="editorCon">
                            <div id="editor">
                                <p></p>
                            </div>
                        </div>
                    </div>
                    <div class="box imgBox">
                        <div class="boxHeader">Suraty giriziň</div>
                        <div class="mazmun">Suraty giriziň:</div>
                        <div class="inputs">
                            <p><input type="file"  accept="image/*" name="image" id="img0" onchange="loadFile(event,0)" class="1" style="display: none;"></p>
                            <label class="imgLbCon" for="img0"><img id="output" src="/pictures/icon/addPicture.svg" /></label>
                        </div>
                        <div class="inputs">
                            <p><input type="file"  accept="image/*" name="image" id="img1" onchange="loadFile(event,1)" class="2" style="display: none;"></p>
                            <label class="imgLbCon" for="img1"><img id="output" src="/pictures/icon/addPicture.svg" /></label>
                        </div>
                   </div>
                    <div class="box">
                        <div class="boxHeader">Rusça giriziň</div>
                        <div class="headerCon">
                            <label class="mazmuny" for="topTa">Mazmunyň headeri:</label>
                            <input type="text" name="headerRU" id="topTa" class="header ru">
                        </div>
                        <div class="mazmun">Mazmuny:</div>
                        <div class="editorCon">
                            <div id="editor2">
                                <p></p>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div class="boxHeader">Iňlisçe giriziň</div>
                        <div class="headerCon">
                            <label class="mazmuny" for="topTas">Mazmunyň headeri:</label>
                            <input type="text" name="headerEN" id="topTas" class="header en">
                        </div>
                        <div class="mazmun">Mazmuny:</div>
                        <div class="editorCon">
                            <div id="editor3">
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="formInputs addHabar form2">
                    <% var a = 0; var b = 1 %> 
                    <% for( let i = 2; i <= data.header.TM.length+1; i++ ) {%>
                        <div class="box">
                            <div class="boxHeader">Türkmençe giriziň</div>
                            <div class="headerCon">
                                <label class="mazmuny" for="">Mazmunyň headeri:</label>
                                <input type="text" name="headerTM" class="header tm" value="<%= data.header.TM[i-2] %>">
                            </div>
                            <div class="mazmun">Mazmuny:</div>
                            <div class="editorCon">
                                <div id="editor">
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div class="box imgBox">
                            <div class="boxHeader">Suraty giriziň</div>
                            <div class="mazmun">Suraty giriziň:</div>
                            <div class="inputs">
                                <p><input type="file"  accept="image/*" name="image" id="img<%=i*2-2%>" onchange="loadFile(event,'<%=i*2-2%>')" class="1" style="display: none;"></p>
                                <label class="imgLbCon" for="img<%=i*2-2%>"><img id="output" width="100%" height="335px" src="<%=host%>/constructor/<%= id %>/<%= data.pic[a] %>" /></label>
                            </div>
                            <div class="inputs">
                                <p><input type="file"  accept="image/*" name="image" id="img<%=i*2-1%>" onchange="loadFile(event,'<%=i*2-1%>')" class="2" style="display: none;"></p>
                                <label class="imgLbCon" for="img<%=i*2-1%>"><img id="output" width="100%" height="335px" src="<%=host%>/constructor/<%= id %>/<%= data.pic[b] %> " /></label>
                            </div>
                       </div>
                        <div class="box">
                            <div class="boxHeader">Rusça giriziň</div>
                            <div class="headerCon">
                                <label class="mazmuny" for="topTa">Mazmunyň headeri:</label>
                                <input type="text" name="headerRU" id="topTa" class="header ru" value="<%= data.header.RU[i-2] %>">
                            </div>
                            <div class="mazmun">Mazmuny:</div>
                            <div class="editorCon">
                                <div id="editor2">
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div class="box">
                            <div class="boxHeader">Iňlisçe giriziň</div>
                            <div class="headerCon">
                                <label class="mazmuny" for="topTas">Mazmunyň headeri:</label>
                                <input type="text" name="headerEN" id="topTas" class="header en" value="<%= data.header.EN[i-2] %>">
                            </div>
                            <div class="mazmun">Mazmuny:</div>
                            <div class="editorCon">
                                <div id="editor3">
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <% a+=2;b+=2} %>
                    </div>

                    <div style="display: none;" class="hide"></div>
                    <div style="display: none;" class="hide2"></div>
                    <div style="display: none;" class="hide3"></div>


                    <div class="addHabar bash">
                        <div class="box">
                            <div class="boxHeader">Türkmençe</div>
                            <div class="headerCon">
                                <label class="mazmuny" for="topTa">Ady:</label>
                                <input type="text" name="tm" id="topTa" class="header" value="<%= data.name.TM %>">
                            </div>                
                        </div>
                        <div class="box">
                            <div class="boxHeader">Rusça</div>
                            <div class="headerCon">
                                <label class="mazmuny" for="topTa">Ady:</label>
                                <input type="text" name="ru" id="topTa" class="header" value="<%= data.name.RU %>">
                            </div>                
                        </div>
                        <div class="box">
                            <div class="boxHeader">Iňlisçe</div>
                            <div class="headerCon">
                                <label class="mazmuny" for="topTa">Ady:</label>
                                <input type="text" name="en" id="topTa" class="header" value="<%= data.name.EN %>">
                            </div>                
                        </div>
                        <div class="box">
                            <div class="boxHeader">Banner saýla</div>
                            <div class="headerCon">
                                <label for="" class="mazmuny">Banner nomeri:</label>
                                <select class="welayatSelect" style="width: 100%;" name="banner" id="">
                                    <option value="1">1-nji banner</option>
                                    <option value="2">2-nji banner</option>
                                    <option value="3">3-nji banner</option>
                                </select>
                            </div>
                        </div>
                    </div>


            <div class="submitCon">
                <div class="more">Ýene maglumat goşmak</div>
                <input class="save" type="submit" value="Ýatda sakla">
            </div>


        </div>
    </form>
    </div>



    <!-- selecte saylatmak -->
    <script>
        var kategori = document.querySelector(".welayatSelect")
       
     
        for(var i = 0; i<kategori.length; i++){
            var a = kategori[i].getAttribute('value');
            if(a == '<%=data.bannerId%>'){
                kategori[i].setAttribute('selected','selected');
                break
            }
        }
    </script>




<!-- surat take -->
    <script>
        var imgs = [];
        var pic = '<%=data.pic%>';
        pic = pic.split(',');
        for(var i = 0; i<pic.length; i++){
            var obj = {
                id:i,
                file:''
            }
            imgs.push(obj);
        }

        var loadFile = function(event,el) {
            var image = document.querySelectorAll('#output');
            image[el].src = URL.createObjectURL(event.target.files[0]);
            image[el].style.width = "100%";
            image[el].style.height = "100%";
            var obj = {
                id:el-2,
                file:event.target.files[0]
            }

            // suratlary arr salyar we eger on bar bolsa onda salanok(id gora);
            var bool = true;
            if(imgs.length == 0){
                imgs.push(obj);
            }else{
                for(var i = 0; i<imgs.length;i++){
                    if(imgs[i].id == el-2){
                        imgs.splice(i,1,obj);
                        bool = false;
                        break;                        
                    }
                }
                if(bool){
                    imgs.push(obj);
                }
            }
        };
    </script>


<!-- load more -->
    <script>
        var form2 = document.querySelector("form .form2");
        var form1 = document.querySelector("form .form1");

        var moreBtn = document.querySelector(".more");
        var pic = '<%=data.pic%>'
        pic = pic.split(',');
        var suratId = 2+pic.length;
        var suratPlace = 3+((pic.length/2)*8);
        var tmheader = [];
        var ruheader = [];
        var enheader = [];
        var squllSan = 3;
        var cssSana = 0;
        moreBtn.addEventListener("click",function(){
            var tm = document.querySelectorAll(".tm");
            var ru = document.querySelectorAll('.ru');
            var en = document.querySelectorAll('.en');
            for(var i = 1; i<tm.length; i++){
                tmheader[i-1] = tm[i].value;
                ruheader[i-1] = ru[i].value;
                enheader[i-1] = en[i].value;
            }
            form2.innerHTML += form1.innerHTML;

            // more button basylanda surat ishlar yaly edyar;
            form2.childNodes[suratPlace].childNodes[5].childNodes[3].setAttribute('for','img'+suratId);
            form2.childNodes[suratPlace].childNodes[5].childNodes[3].childNodes[0].setAttribute("src","/pictures/icon/addPicture.svg")
            form2.childNodes[suratPlace].childNodes[5].childNodes[3].childNodes[0].setAttribute("style","")
            form2.childNodes[suratPlace].childNodes[5].childNodes[1].childNodes[0].setAttribute("id",'img'+suratId);
            form2.childNodes[suratPlace].childNodes[5].childNodes[1].childNodes[0].setAttribute("onchange",'loadFile(event,'+suratId+')');
            suratId+=1;

            form2.childNodes[suratPlace].childNodes[7].childNodes[3].setAttribute('for','img'+suratId);
            form2.childNodes[suratPlace].childNodes[7].childNodes[3].childNodes[0].setAttribute("src","/pictures/icon/addPicture.svg")
            form2.childNodes[suratPlace].childNodes[7].childNodes[3].childNodes[0].setAttribute("style","")
            form2.childNodes[suratPlace].childNodes[7].childNodes[1].childNodes[0].setAttribute("id",'img'+suratId);
            form2.childNodes[suratPlace].childNodes[7].childNodes[1].childNodes[0].setAttribute("onchange",'loadFile(event,'+suratId+')');
            suratId+=1;
            suratPlace +=8;

            // header valuelaryny goyup beryar;
            var tm = document.querySelectorAll(".tm");
            var ru = document.querySelectorAll('.ru');
            var en = document.querySelectorAll('.en');
            for(var i = 1; i<tm.length-1; i++){
                tm[i].value = tmheader[i-1];
                ru[i].value = ruheader[i-1];
                en[i].value = enheader[i-1];
            }


            //quill ishletmek uchin
            var editor1 = document.querySelectorAll('.editorCon');
            editor1[squllSan].innerHTML = `<div id="editor${squllSan}" class="editorr">
                                            <p></p>
                                        </div>`
            editor1[squllSan+1].innerHTML = `<div id="editor${squllSan+1}" class="editorr">
                                            <p></p>
                                        </div>`
            editor1[squllSan+2].innerHTML = `<div id="editor${squllSan+2}" class='editorr'>
                                            <p></p>
                                        </div>`


            var edit = document.querySelectorAll(".editorr");
            for(var i =0; i<cssSana; i++){
                editor1[3+i].childNodes[0].remove();
                
            }
            cssSana+=3;

            var edit = document.querySelectorAll(".editorr");
            for(var i = 0; i<edit.length; i++){
                var editor = new Quill(edit[i], {
                    modules: { },
                    theme: 'snow'
                });
            }
            squllSan+=3;
        })
    </script>


<!-- formdan maglumat jemlemek -->
    <script>
        var submit = document.querySelector("#identifier");
        var oneTime = true;
        submit.addEventListener("submit",async function(e){
            e.preventDefault()
            if(oneTime){
                var inputs = document.querySelectorAll("#identifier input");
                var bash = document.querySelectorAll(".bash input");
                var select = document.querySelector('.welayatSelect');


                var data = {
                    tm:bash[0].value,
                    ru:bash[1].value,
                    en:bash[2].value,
                    banner:select.value,
                    shablon:'<%=data.page%>',
                    tmheader:[],
                    ruheader:[],
                    enheader:[],
                    text:[],
                    text2:[],
                    text3:[],
                    category:'<%=data.constructorId%>',
                    bosh:[]
                }
    
                var tm = document.querySelectorAll('.tm');
                var ru = document.querySelectorAll('.ru');
                var en = document.querySelectorAll('.en');
                var text = document.querySelectorAll(".ql-editor");
    
    
                var headFull = true;
                var san = 3;
                for(var i = 1; i<tm.length; i++){
                    if(tm[i].value=='' && ru[i].value == '' &&  en[i].value == ''){
                        data.bosh.push(i-1);
                    }else{
                        data.tmheader.push(tm[i].value);
                        data.ruheader.push(ru[i].value);
                        data.enheader.push(en[i].value);
                        data.text.push(text[san].innerHTML);
                        data.text2.push(text[san+1].innerHTML);
                        data.text3.push(text[san+2].innerHTML);
                    }
                    san+=3;
                    if(tm[i].value=='' || ru[i].value == '' ||  en[i].value == ''){
                        if(tm[i].value=='' && ru[i].value == '' &&  en[i].value == ''){
    
                        }else{
                            headFull = false;
                        }
                    }
                }
                
                var arr = [];
                var suratUytgedi = false;
                var yekeSurat = false;
                console.log(imgs);
                for(var i = 0; i<data.tmheader.length*2; i++){
                    if(imgs[i] == undefined){
                        yekeSurat = true;
                        break;
                    }
                    arr.push(imgs[i].file);
                    if(imgs[i].file !== ''){
                        suratUytgedi = true;
                    }
                }
                
                console.log(arr);
                if(yekeSurat){
                    alert("Bir surat yok");
                    oneTime=true;
                }else{
                    if(headFull){
                        var res = await dataSend(data,'<%=host%>/constructor/subCategory/edit?id=<%=id%>');
            
                        if(typeof(res.id) == 'number'){
                            if(suratUytgedi){
                                var data = await imgSend(arr,'<%=host%>/constructor/addPic?id=<%=id%>');
                                if(data.status == 200){
                                    location.replace('/admin/subConstructor/'+res.id);
                                }
                            }else{
                                location.replace('/admin/subConstructor/'+res.id);
                            }
                        }
                    }else{
                        alert('headerlerin biri bosh');
                        oneTime=true
                    }
                }
            }
        })
        linkActive(2);
    </script>
 
    <script src="https://cdn.quilljs.com/1.0.0/quill.js"></script>
 
    <!-- Initialize Quill editor  3sany text area hidden inpuda hem salyar-->
    <script>
      var editor = new Quill('#editor', {
        modules: { },
        theme: 'snow'
      });
      var editor = new Quill('#editor2', {
        modules: { },
        theme: 'snow'
      });
      var editor = new Quill('#editor3', {
        modules: { },
        theme: 'snow'
      });
    </script> 


    <!-- first -->
    <script>
        function first(){
            var tmheader = '<%=data.header.TM%>';
            tmheader = tmheader.split(",");
            var editor1 = document.querySelectorAll('.editorCon');
            
            for(var i = 0; i<tmheader.length; i++){
                
                editor1[squllSan].innerHTML = `<div id="editor${squllSan}" class="editorr">
                                                <p></p>
                                            </div>`
                editor1[squllSan+1].innerHTML = `<div id="editor${squllSan+1}" class="editorr">
                                                <p></p>
                                            </div>`
                editor1[squllSan+2].innerHTML = `<div id="editor${squllSan+2}" class='editorr'>
                                                <p></p>
                                            </div>`
    
    
                var edit = document.querySelectorAll(".editorr");
                for(var j =0; j<cssSana; j++){
                    editor1[3+j].childNodes[0].remove();
                    
                }
                cssSana+=3;
    
                var edit = document.querySelectorAll(".editorr");
                for(var j = 0; j<edit.length; j++){
                    var editor = new Quill(edit[j], {
                        modules: { },
                        theme: 'snow'
                    });
                }
                squllSan+=3;
            }


            var hide = document.querySelector(".hide");
            var hide2 = document.querySelector(".hide2");
            var hide3 = document.querySelector(".hide3");
            var text = document.querySelectorAll(".ql-editor");
            var bodytm = '<%=data.body.TM%>'
            bodytm = bodytm.split(',');
            var bodyru = '<%=data.body.RU%>'
            bodyru = bodyru.split(',')
            var bodyen = '<%=data.body.EN%>'
            bodyen = bodyen.split(',');
            var sana = 3;
            
            for(var i = 0; i<bodytm.length; i++){
                hide.innerHTML = bodytm[i];
                hide2.innerHTML = bodyru[i];
                hide3.innerHTML = bodyen[i];
                text[sana].innerHTML = hide.textContent;
                text[sana+1].innerHTML = hide2.textContent;
                text[sana+2].innerHTML = hide3.textContent;
                sana+=3;
            }
        }
        first();

    </script>

</body>
</html>


