<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.quilljs.com/1.0.0/quill.snow.css" rel="stylesheet">
</head>

<body>
    <%- include ('../../admin.ejs') %>
    <div class="adminContainer">
        <div class="main">
            <div class="pageHeader">
                <%= name %> 
            </div>
        </div>
    <form action="/admin/subConstructor2" method="POST" id="identifier">
        <div class="adminTable">
                <div class="formInputs addHabar form1">
                    <div class="box">
                        <div class="boxHeader">Türkmençe giriziň</div>
                        <div class="headerCon">
                            <label class="mazmuny" for="">Mazmunyň headeri:</label>
                            <input type="text" name="headerTM" class="header tm" required>
                        </div>
                        <div class="mazmun">Mazmuny:</div>
                        <div class="editorCon">
                            <div id="editor">
                                <p></p>
                            </div>
                        </div>
                    
                    </div>
    
                    <textarea name="text" style="display: none;" id="hiddenArea" cols="30"  rows="10"></textarea>
                    <textarea name="text2" id="hiddenArea2" style="display: none;" cols="30"  rows="10"></textarea>
                    <textarea name="text3" id="hiddenArea3" cols="30" style="display: none;" rows="10"></textarea>
                    
                    <div class="box">
                        <div class="boxHeader">Rusça giriziň</div>
                        <div class="headerCon">
                            <label class="mazmuny" for="topTa">Mazmunyň headeri:</label>
                            <input type="text" name="headerRU" id="topTa" class="header ru" required>
                        </div>
                        <div class="mazmun">Mazmuny:</div>
                        <div class="editorCon">
                            <div id="editor2">
                                <p></p>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div class="boxHeader">Iňlisçe giriziň</div>
                        <div class="headerCon">
                            <label class="mazmuny" for="topTa">Mazmunyň headeri:</label>
                            <input type="text" name="headerEN" id="topTa" class="header en" required>
                        </div>
                        <div class="mazmun">Mazmuny:</div>
                        <div class="editorCon">
                            <div id="editor3">
                                <p></p>
                            </div>
                        </div>
                    </div>
                    <div class="box"></div>
                </div>
                
                <div class="formInputs addHabar form2">

                </div>


            <div class="submitCon">
                <div class="more">Ýene maglumat goşmak</div>
                <input class="save" type="submit" value="Ýatda sakla">
            </div>


        </div>
    </form>
    </div>


        <!-- worked more button -->
        <script>
            var form2 = document.querySelector("form .form2");
            var form1 = document.querySelector("form .form1");
    
            var moreBtn = document.querySelector(".more");
            var suratId = 1;
            var suratPlace = 3;
            var tmheader = [];
            var ruheader = [];
            var enheader = [];
            var squllSan = 3;
            var cssSana = 0;
            moreBtn.addEventListener("click",function(){
                var tm = document.querySelectorAll(".tm");
                var ru = document.querySelectorAll('.ru');
                var en = document.querySelectorAll('.en');
                for(var i = 1; i<tm.length; i++){
                    tmheader[i-1] = tm[i].value;
                    ruheader[i-1] = ru[i].value;
                    enheader[i-1] = en[i].value;
                }
                
                form2.innerHTML += form1.innerHTML;
   
    
                // header valuelaryny goyup beryar;
                var tm = document.querySelectorAll(".tm");
                var ru = document.querySelectorAll('.ru');
                var en = document.querySelectorAll('.en');
                for(var i = 1; i<tm.length-1; i++){
                    tm[i].value = tmheader[i-1];
                    ru[i].value = ruheader[i-1];
                    en[i].value = enheader[i-1];
                }
    
    
                //quill ishletmek uchin
                var editor1 = document.querySelectorAll('.editorCon');
                editor1[squllSan].innerHTML = `<div id="editor${squllSan}" class="editorr">
                                                <p></p>
                                            </div>`
                editor1[squllSan+1].innerHTML = `<div id="editor${squllSan+1}" class="editorr">
                                                <p></p>
                                            </div>`
                editor1[squllSan+2].innerHTML = `<div id="editor${squllSan+2}" class='editorr'>
                                                <p></p>
                                            </div>`
    
    
                var edit = document.querySelectorAll(".editorr");
                for(var i =0; i<cssSana; i++){
                    editor1[3+i].childNodes[0].remove();
                    
                }
                cssSana+=3;
    
                var edit = document.querySelectorAll(".editorr");
                for(var i = 0; i<edit.length; i++){
                    var editor = new Quill(edit[i], {
                        modules: { },
                        theme: 'snow'
                    });
                }
                squllSan+=3;
            })
        </script>
    
       
     
        <script src="https://cdn.quilljs.com/1.0.0/quill.js"></script>
     
        <!-- Initialize Quill editor  3sany text area hidden inpuda hem salyar-->
        <script>
            
          var editor = new Quill('#editor', {
            modules: { },
            theme: 'snow'
          });
          var editor = new Quill('#editor2', {
            modules: { },
            theme: 'snow'
          });
          var editor = new Quill('#editor3', {
            modules: { },
            theme: 'snow'
          });
        </script> 
    
    
        <!-- formdan maglumat jemlemek -->
        <script>
            var submit = document.querySelector("#identifier");
    
            submit.addEventListener("submit",async function(e){
                e.preventDefault()
                var inputs = document.querySelectorAll("#identifier input");
                var data = {
                    tm:'<%=data.tm%>',
                    ru:'<%=data.ru%>',
                    en:'<%=data.en%>',
                    banner:'<%=data.banner%>',
                    shablon:'<%=data.shablon%>',
                    tmheader:[],
                    ruheader:[],
                    enheader:[],
                    text:[],
                    text2:[],
                    text3:[],
                    category:'<%=id%>'
                }
                var tm = document.querySelectorAll('.tm');
                var ru = document.querySelectorAll('.ru');
                var en = document.querySelectorAll('.en');
                var text = document.querySelectorAll(".ql-editor");
    
                var a = 0;
                for(var i = 0; i<tm.length;i++){
                    data.tmheader.push(tm[i].value);
                    data.ruheader.push(ru[i].value);
                    data.enheader.push(en[i].value);
                    data.text.push(text[a].innerHTML);
                    data.text2.push(text[a+1].innerHTML);
                    data.text3.push(text[a+2].innerHTML);
                    a+=3;
                }
                
                var res = await dataSend(data,'<%=host%>/constructor/subCategory');
                if(typeof(res.id) == 'number'){
                    location.replace('/admin/subConstructor/<%=id%>');
                }
            })
        </script>
    
</body>
</html>