<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    
</style>
<body>
    <%- include ('../src/header.ejs') %>

    <div class="karhanaPage">
        <div class="container">
            <div class="karhanaPage">Строительная промышленность</div>
            <div class="karhanaBody">
              <div class="leftNav">
                  <div class="navName">Отрасли и предприятия:</div>
                  <div class="sidenav">
                    <div class="subKarhana">
                      <%for(var i = 0; i<data.length; i++){%>
                        <button  class="dropdown-btn"><%=data[i].name%> ></button>
                        <div class="dropdown-container">
                          <%for(var j = 0; j<data[i].sub.length;j++){%>
                            <a href="#" class="link"><%=data[i].sub[j].name%></a>
                          <%}%>
                        </div>
                      <%}%>
                    </div>
                </div>
              </div>
              <div class="karhanaContent">
                <div class="pic"><img src="/pictures/news/news1.png" alt=""></div>
                <div class="title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore quis, magni voluptates maiores, veritatis autem architecto nemo hic quas eligendi fugit aspernatur natus doloribus, quia excepturi quae dolor quidem veniam minima! Ducimus ea quisquam obcaecati blanditiis asperiores quam. Doloremque, libero sed. Quod animi est obcaecati aut vitae. Quod impedit laborum doloremque ducimus itaque
                </div>
                <div class="karhanaInfo">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem eligendi aliquid, omnis quae reprehenderit porro sequi voluptate ullam saepe necessitatibus, quas, amet sit ab architecto illum. Quibusdam, nihil? Nemo vel minima incidunt id, saepe obcaecati. Nisi illo dolorem recusandae. Odio fuga doloribus eveniet cum doloremque mollitia, nobis cupiditate natus amet, quod blanditiis facere debitis quasi nulla sapiente laboriosam non provident vitae ipsam! Amet nobis enim, architecto excepturi quod porro iste perspiciatis et soluta sunt vero nostrum cupiditate nulla numquam, minus dicta eos ipsa. Voluptatem exercitationem suscipit reiciendis officiis magni nulla possimus, maiores magnam dolor molestias alias qui nihil laudantium veniam!
                </div>
              </div>
            </div>
        </div>
    </div>

    <input type="hidden" class="id" value="<%=id%>">
    <%- include ('../src/bottom.ejs') %>
    <script>
      var dropdown = document.getElementsByClassName("dropdown-btn");
      var i;

      for (i = 0; i < dropdown.length; i++) {
        dropdown[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var dropdownContent = this.nextElementSibling;
        if (dropdownContent.style.display === "block") {
        dropdownContent.style.display = "none";
        } else {
        dropdownContent.style.display = "block";
        }
        });
      }
      var li = document.querySelectorAll(".link");
      for(var j = 0; j<li.length; j++){
        li[j].addEventListener("click",function(){
          for(var k = 0; k<li.length;k++){
            li[k].style.color = "#323C44"
          }
          this.style.color = "#2058D4";
        })
      }

      window.addEventListener("load",function(){
        const id = document.querySelector(".id");
        var subId = Number(id.value)-1;
        var dropdownn = document.querySelectorAll(".dropdown-btn");
        dropdownn[subId].classList.add("active");

        var dropdownContent = dropdownn[subId].nextElementSibling;
        dropdownContent.childNodes[1].style.color = "#2058D4";
        console.log(dropdownContent.childNodes[1])
        if (dropdownContent.style.display === "block") {
        dropdownContent.style.display = "none";
        } else {
        dropdownContent.style.display = "block";
        }
      })
    </script>
</body>
</html>