<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include ('../src/header.ejs') %>
    
    <section class="NavbarSection">
        <div class="container">
            <div class="header">Press-center</div>
            <div class="lineTop">
                <div class="active"><a href="">News</a></div>
                <div><a href="">Gechirilen Chareler</a></div>
                <div><a href="">Rysgal gazati</a></div>
            </div>
            <hr>
            <div class="teg">
                <div class="title">Tegi:</div>    
                <div class="dots">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
            <div class="teg2 teg"></div>
        </div>
    </section>

    <section class="newsSection">
        <div class="container">
            <div class="header">Today</div>
            <div class="fullLeft0">
                <div class="fullLeft newsSectionContainer">
                    <div class="left"><img src='/pictures/news/<%=list.list[0].pic%>' alt=""></div>
                    <!-- <div class="left"><img src="<%=host%>/news/<%= list.list[0].pic %>" alt=""></div> -->
                    <div class="right">
                    <div class="top">
                        <div class="name"><%= list.list[0].name %> </div>
                    </div>
                    <div class="bottom">
                        <div class="new" data-content id="news">News</div>
                        <div class="dot"></div>
                        <div class="date"><%= list.list[0].date %> </div>
                    </div>
                    </div>
                    
                    <% for (let i = 1; i < 3; i++) {%>
                    <div class="newsContainer lowNews<%=i%>">
                        <div class="top"><img src="/pictures/news/<%= list.list[i].pic %>" alt=""></div>
                        <!-- <div class="top"><img src="<%=host%>/news/<%= list.list[i].pic %>" alt=""></div> -->
                        <div class="bottomTop">
                            <div class="name"><%= list.list[i].name %> </div>
                        </div>
                        <div class="bottom">
                            <div class="new" data-content id="news">News</div>
                            <div class="dot"></div>
                            <div class="date"><%= list.list[i].date %> </div>
                        </div>
                    </div>
                    <%} %> 
                </div>
                <%if(list.extraNews.length>4){%>
                    <div class="extraNews">
                <%}else{%>
                    <div class="extraNews" style="justify-content: flex-start;">  
                <%}%>
                <%for(var i = 0; i<list.extraNews.length; i++){%>
                    <%if(i==list.extraNews.length-1){%>
                        <div class="extraNewsContainer" style="border-bottom: none;padding-bottom: 0;">
                    <%}else{%>
                        <div class="extraNewsContainer" >      
                    <%}%>
                            <div class="bottomTop">
                                <div class="name"><%= list.extraNews[i].name %></div>
                            </div>
                        <%if(i==list.extraNews.length-1){%>
                            <div class="bottom" style="bottom: 0;">
                        <%}else{%>
                            <div class="bottom">
                        <%}%>
                                <div class="new" data-content id="news">News</div>
                                <div class="dot"></div>
                                <div class="date"><%= list.extraNews[i].date %> </div>
                            </div>
                        </div>
                    <%}%>
                    </div>
                </div>
            <hr id="newsSection">
              <div class="splide">
                <div class="splide__track">
                  <ul class="splide__list">
                    <%for(var i = 0; i < list.ads.length; i++){%>
                      <li class="splide__slide"><div><img src="/pictures/reklams/<%=list.ads[i]%>" alt=""></div></li>
                    <%}%>
                  </ul>
                </div>
              </div>
          </div>
        </section>


        <section class="allNewsSection">
            <div class="container">
                <%for(var k=0; k<list.lowNews.length;k++){%>
                    <%if(k==1){%>
                        <div class="splide2">
                            <div class="splide__track">
                              <ul class="splide__list">
                                <%for(var l = 0; l < list.ads2.length; l++){%>
                                  <li class="splide__slide"><div><img src="/pictures/reklams/<%=list.ads[l]%>" alt=""></div></li>
                                <%}%>
                              </ul>
                            </div>
                        </div>
                    <%}%>
                    <%if(k==2){%>
                        <div class="splide3">
                            <div class="splide__track">
                              <ul class="splide__list">
                                <%for(var l = 0; l < list.ads3.length; l++){%>
                                  <li class="splide__slide"><div><img src="/pictures/reklams/<%=list.ads[l]%>" alt=""></div></li>
                                <%}%>
                              </ul>
                            </div>
                        </div>
                    <%}%>
                    <div class="lowNewsContainer">
                        <%for(var i =0; i<list.lowNews[k].length;i++){%>
                            <%if(k == list.lowNews.length-2 && i == 8){%>
                                <div class="lowNews<%=i+1%>" id="more">
                                    <div class="surat"><img src="/pictures/news/<%=list.lowNews[k][i].pic%>" alt=""></div>
                                    <div class="name"><%=list.lowNews[k][i].name%></div>
                                    <div class="bottom">
                                        <div class="news" data-content id="news">News</div>
                                        <div class="dot"></div>
                                        <div class="date"><%=list.lowNews[k][i].date%></div>
                                    </div>
                                </div>
                            <%}else{%>
                                <div class="lowNews<%=i+1%>">
                                    <div class="surat"><img src="/pictures/news/<%=list.lowNews[k][i].pic%>" alt=""></div>
                                    <div class="name"><%=list.lowNews[k][i].name%></div>
                                    <div class="bottom">
                                        <div class="news" data-content id="news">News</div>
                                        <div class="dot"></div>
                                        <div class="date"><%=list.lowNews[k][i].date%></div>
                                    </div>
                                </div>
                            <%}%>
                        <%}%>
                    </div>
                <%}%>
                <%if(hide){%>
                    <a href="/pressCenter?page=<%=Number(page)+1%>&clicked=<%=Number(clicked)+1%>#more"><div class="downloadBtn"> Download more</div></a>
                <%}%>
                

                <div class="practika">
                    <%for(var i = 0; i<9; i++){%>
                        <div class="lowNews">
                            <div class="surat"><img src="/pictures/news/news1.png" alt=""></div>
                            <div class="name"></div>
                            <div class="bottom">
                                <div class="news" data-content id="news">News</div>
                                <div class="dot"></div>
                                <div class="date"></div>
                            </div>
                        </div>
                    <%}%>
                </div>
               
            </div>
        </section>


        <a href="#more" class="goto" style="display:none">Go to download more postion</a>
        <input type="hidden" value="<%=boolClick%>" class="gotoPosition">
        <%- include ('../src/bottom.ejs') %>


    <!-- Download more -->
    <script>
        window.addEventListener("load",function(){
            const goto = document.querySelector(".goto");
            const gotoPosition = document.querySelector(".gotoPosition");
            if(gotoPosition.value=="true"){
                goto.click();
            }
        })
    </script>
    <!-- language dont work with this version -->
    <script>
        async function lowNews(){
            const response = await fetch("http://localhost:3000/pressCenterData")
            var data = await response.json();
            return data;
        }


        async function createEl(){
            var data = await lowNews();

            const surat = document.querySelectorAll(".lowNews .surat");
            const name = document.querySelectorAll(".lowNews .name");
            const date = document.querySelectorAll(".lowNews .date");
            console.log(news[0]);
            for(var i = 0; i<data[0].length; i++){
                name[i].textContent = "Aymuhammet"
            }
        }
        createEl();
    </script>
    
    <!-- tegs -->
    <script>
        // async function hello(){
        //     const response = await fetch("http://10.192.168.43:5000/?start=0&end=9")
        //     var data = await response.json();
        //     console.log(data);
        // }
        // hello()

        async function tegsTake(){
            const response = await fetch("/tegs");
            var data = await response.json();
            return data;
        }
        
        function createElement(text,brExtra){
            const tegs = document.querySelector(".teg");
            const teg2 = document.querySelector(".teg2");
            const dots = document.querySelector(".teg .dots");
            const element = document.createElement("div");
            const a = document.createElement("a");
            a.setAttribute("href","#")
            var text = document.createTextNode(text)
            a.appendChild(text);
            element.appendChild(a);
            if(brExtra){
                teg2.appendChild(element)
            }else{
                dots.parentNode.insertBefore(element,dots);
            }
        }
        
        async function orderElements(san){
            var data = await tegsTake();
            var a = true;
            if(typeof(san)=="number"){
                for(var i = 0; i<san; i++){
                    createElement(data[i])
                }
            }else if(typeof(san)=="boolean"){
                for(var i = 5; i<data.length; i++){
                    createElement(data[i],"break");
                }
            }
        }

        orderElements(5)

        const dots = document.querySelector(".teg .dots");
        dots.addEventListener("click",async function(){
            orderElements(true);
            this.style.display = "none";
        })
    </script> 
    <!-- splide -->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            new Splide(".splide",{
                type:"loop",
                perPage:1,
                autoplay:true,
                cover:true
            }).mount();
            new Splide(".splide2",{
                type:"loop",
                perPage:1,
                autoplay:true,
                cover:true
            }).mount();
            new Splide(".splide3",{
                type:"loop",
                perPage:1,
                autoplay:true,
                cover:true
            }).mount();
        });
    </script>
</body>
</html> 